@font-face {
  font-family: "proxima-nova-soft";
  font-style: normal;
  src: url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
}

*{
  margin: 0 auto;
  font-family: "proxima-nova-soft";
  box-sizing: border-box;
}
header{
  background-color: white;
  position: relative;
  background-color: white;
}
.principal{
  height: 100vh;
  flex-wrap: wrap;
  display: flex;
}
h4{
  line-height: 1.5;
}

.logo-mobile{
  width: 120px;
  height: 60px;
}
.btn-get{
  width: 227px;
  height: 48px;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1.3px;
}
.icon{
  /*position: absolute;*/
}
.icon-fondo{
  background-size: cover;
  width: 100%;
  height: 90vh;
  position: absolute;
}
.size{
  z-index: 1;
}
.icon--hero-park{
  width: 260px;
  height: 316px;
  bottom: 16px;
  left: -20%;
}
/*.icon--hero-bench{
  width: 148px;
  height: 66px;
  bottom: 19px;
  left: 88%;
}*/
.absolute{
  width: 100%;
  display: inline-block;
  height: 100vh;
  position: absolute;
  background-size: cover;
  left: 0;
  background-position: right bottom;
}
.icon-bond{
  width: 225px;
  height: 225px;
  border-radius: 50%;
  background-color: #FFCC66;
  position: relative;
}
.icon-size{
  background-size: contain;
  display: inline-block;
  width: 175px;
  height: 175px;
  position: absolute;
  left: 27px;
  bottom: 15%;
}
.step-title{
  color: #3498DB;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0;
}
.step-content{
  font-size: 18px;
  line-height: 2.4;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .step-content{
    font-size: 1.3rem;
    line-height: 1.9;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .step-title{
    font-size: 3.3rem;
    text-align: center;
  }
}
.row-margin{
  margin-top: 50px;
  margin-bottom: 50px;
}
.color-white{
  color: white;
}

.works{
  background-color: #F9F9F9;
}
.promise{

}
.promise h1{
  color: #3498DB;
  font-weight: bold;
  font-size: 5rem;
}
.promise h4{
  font-size: 2.4rem;
  font-weight: bold;
}
.icon-toggle{
  width: 80px;
  height: 80px;
  display: inline-block;
}
.toggle h5{
  color: #87B460;
  font-weight: bold;
  font-size: 1.8rem;
  /*display: inline-block;*/
}
@media screen and (max-width: 768px) {
  .icon-toggle{
    width: 50px;
    height: 50px;
  }
}
/*.header-top{
  background-color: #E96F5F;
}
header{
  background-color: #9ACCEF;
  height: 100vh;
}

.logo-mobile{
  width: 120px;
  height: 60px;
}*/
/*.logo{
  width: 90px!important;
  border: 0;
}*/
/*.navbar a{
  font-weight: 600;
}
.icon-close{
  margin-right: 0;
  height: 20px;
  width: 20px;
  background-position: center;
}*/
